go 1.25.0

use (
	./gen/go
	./pkg
	./services/agent
	./services/app
	./services/auth
	./services/bigbrother
	./services/chat
	./services/erp
	./services/feedback
	./services/healthwatch
	./services/ingest
	./services/notification
	./services/platform
	./services/search
	./services/traces
	./services/ws
	./tools/cli
	./tools/eventsgen
	./tools/mcp
	./tools/pkg
)
