go 1.25.0

use (
	./pkg
	./services/auth
	./services/chat
	./services/feedback
	./services/ingest
	./services/notification
	./services/platform
	./services/rag
	./services/search
	./services/ws
	./tools/cli
	./tools/mcp
	./tools/pkg
)
